
nav{
  background-color: #004e6a;
}
body {
  background-color: #017199;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', sans-serif;
}
.card{
  width: 12em;
  margin-bottom: 2em;
}
.card img{
  width: 100%;
}
.center {
  margin-top: 2em;
}
.row{
  justify-content: space-between;
}
.logo {width: 20px;
}
.book-list {
  margin-top: 50px;
}




